$bg: #000000;
$border: #FFFFFF;
$palette1: #582f0e;
$palette2: #7f4f24;
$palette3: #936639;
$palette4: #a68a64;
$palette5: #b6ad90;
$palette6: #c2c5aa;
$palette7: #656d4a;
$palette8: #414833;
$palette9: #333d29;