.container {
    display: flex;
    background-color: var(--secondary-bg);
    margin-top:10vh;
    width: inherit;
    height: 8vh;
    justify-content: center;
}

.rss {
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rss a{

}

.logo-footer {
    position: relative;
    width: 3vh;
    height: inherit;
}