@media screen and (max-width: 800px) {
    .me {
        padding: 0px !important;
        width: 800px;
        margin-top: 12rem;
        max-width: 100% !important;
    }
}

@media screen and (min-width: 1200px) {
    .bars {
        padding-right: 0rem;
        margin-left: 13%;
        margin-right: 5%;
    }
}

.p-container {
    align-self: center;
    width: 70%;
}


p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.8vh;
    color: #000000;
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.front {
    padding-bottom: 90%;
    background-image: url(./svg/face.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.text {
    position: absolute;
    height: 100%;
    text-align: center;
    padding: 20% 8%;
    top:0;
    left:0;
    word-wrap: break-word;
}

.back {
    background-color: var(--secondary-bg);
    padding-bottom: 90%;
    position: relative;
}

.me {
    position: absolute;
    width: 90%;
    height: 3rem;
    overflow: hidden;
    will-change: transform, opacity;
    box-shadow: var(--bg-shadow);
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.me-container {
    position: relative;
    flex-grow: 0.8;
    justify-content: center;
    align-items: center;
}

.bars {
    height: auto;
    flex-grow: 1;
    background: var(--secondary-bg);
    box-shadow: var(--bg-shadow);
    text-align: right;
}

.me h2 {
    color: var(--standout-color);
}

.me p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 7vh;
    margin-bottom: 4rem;
    color:var(--font-color-2);
}
.bar {
    width: 100%;
    padding-left: 2rem;
}

.out-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-back {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #E0E6F4;
    width: 100%;
    height: 2vh;
    text-align: right;
    box-shadow: var(--box-shadow);
<<<<<<< HEAD
    border-radius: 1vh;
    border: 0.4vh solid var(--logo-1);
    overflow: hidden;
=======
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
>>>>>>> parent of 20fc21f... Improoved the looks of the bars and added anim
}

.bar-back p {
<<<<<<< HEAD
    padding: 1vh; 
    color: var(--font-color-3);
    margin:0px;
    font-size: 4vh;
    line-height: 150%;
    font-family: -apple-system,sans-serif;;
=======
    margin:0px;
    font-size: 110%;
}

.bar-precont p {
    margin-right: 1rem;
    margin-top: -1.4rem;
    padding-bottom: 0.5rem;
    color: var(--font-color-2);
>>>>>>> parent of 20fc21f... Improoved the looks of the bars and added anim
}

.bar-container {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.logo {
    height: 70px;
    width: 70px;
    z-index: 1;
    margin-right: -10vh;
}

.progress {
    height: 100%;
    background-color: var(--standout-color);
    overflow: hidden;
}